.container {
  display: none;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.174);
}

@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');

h1{
	margin:0;
	padding:0;
  color: aquamarine;
	font-family:'Titan One',cursive;
	font-size:4vw;
	font-weight:700;
  letter-spacing: 1vw;
  right: -1.35vw;
  position: relative;
}

.vidDiv {
  position: relative;
  float: left;
  margin-left: 5%;
  display: grid;
  right: -1.35vw;
  place-items: center;
  overflow:hidden;
  border:1vw solid #ff5e9c;
  border-radius: 2vw;
  margin-bottom: 1vw;
}
.vidDiv video {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width:40vw;
}
.frame {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.1vw;
  font-size:1.5vw;
  color: white;
  font-weight: 900;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width:40vw;
  margin: auto;
  text-align: center;
  height:22.5vw;
  line-height: 22.5vw;
  border-radius: 1vw;
  background: radial-gradient(#cfc4bd, #7a6f6b);
  box-shadow: 0.5vw 0.5vw #acacac80;
}

.content {
  background-color: #ffffff;
  margin: auto;
  width: 50%;
  height: 75%;
  border-radius: 2vw;
  align-items: center;
  text-align: center;
}

.close-icon {
  right: -1.35vw;
  font-family: 'Nunito', sans-serif;
  background-color: #cbcbcb;
  border-radius: 1vw;
  padding: 0vw 1vw;
  line-height: 2vw;
  font-size: 1.5vw;
  margin-top: 1vw;
  cursor: pointer;
  position: relative;
  width: 1.5vw;
  color: #ffffff;
}
.close-icon:hover {
  background-color: #9f9f9f;
}
