html {
  background-color: #95D5B2;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

// HAND
.hand-svg-loader {
  width: 10vw;
  animation: 0.3s 0.1s normal infinite wave;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@keyframes wave {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 5deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    rotate: 0;
  }
}
// HAND

