html {
  background-color: #95D5B2;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  vertical-align: top;
  transition: all 200ms ease;
}

// HAND
.hand-svg-loader {
  width: 10vw;
  animation: 0.3s 0.1s normal infinite wave;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@keyframes wave {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 5deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    rotate: 0;
  }
}
// HAND


// For preventing use on mobile-sized screens
.mobileScreen  {
  display: none;
  color: white;
  font-family:'Josefin Sans';
  font-size:3vw;
  font-weight:1000;
  text-align: center;
  vertical-align: top;
  transition: all 200ms ease;
}
@media only screen and (max-width: 700px) {
  .webScreen {
    display: none;
  }
  .mobileScreen {
    display: block;
  }
}
.im{
  width: 50vw;
}
.wave{
  animation: wavy 1.5s infinite alternate ease-in-out;
  transform-origin: bottom;
}
@keyframes wavy{
  from {
    transform:rotate(-3deg);
}
to {
    transform:rotate(3deg);
}
}
