// FONTS
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
// FONTS

body {
  padding-bottom: 5vw;
  min-height: 100vh;
  text-align: center;
}
// LOGO

// NAV BAR
a {
	outline: none;
}
.navbar-container {
  // position: fixed;
  width: 101vw;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 0px -5vw 1vw 5vw #366666aa;
	padding: 1vw;
	font-size: 0;
  font-family: 'Oswald';
  z-index: 100000;
  margin-left:-1.3vw;
  margin-top:-0.8%;
}
.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}
.navbar-container ul li {
	display: inline-block;
	font-size: 1.2vw;
  cursor: pointer;
}
.navbar-container ul li a {
	color: #1B4332;
	text-decoration: none;
	display: inline-block;
	padding: 0vw 3vw;
	transition: color 0.2s;
}
.navbar-container ul li .underline {
  height: 0.001vw;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}
.navbar-container ul li.active-link .underline {
	width: 60%;
	background-color: #ffffff;
  border-bottom: dotted #1B4332 0.3vw;
}
.navbar-container ul li.non .underline {
	width: 60%;
	background-color: #ffffff;
  border-bottom: dotted #ffffff00 0.3vw;
}
.navbar-container ul li.active-link:hover .underline {
	width: 60%;
	background-color: #ffffff00;
}
.navbar-container ul li:hover .underline {
	background-color: #1B4332;
	width: 60%;
}
.navbar-container ul li:active a {
	transition: none;
	color: #1B43326b;
}
.navbar-container ul li:active .underline {
	transition: none;
	background-color: #1B43326b;
}
// NAV BAR

// HAND
.hand-svg {
  width: 4.5vw;
  margin-bottom: -1.7vw;
}
.hand-svg:hover .hand-path {
  animation: 0.3s 0.1s normal 3 wave;
  transform-origin: bottom;
}
@keyframes wave {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 5deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    rotate: 0;
  }
}
// HAND

// HEADING
.heading-container{
  display: block;
  position: sticky;
	width:100%;
	height:15%;
  margin-top: 4vw;
  margin-left: 15vw;
}
h1 {
  color: white;
  font-family:'Oswald';
  width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
  font-size:5vw;
	font-weight:1000;
	flex-flow:row wrap;
}
// HEADING

// TEXT
.textBox {
  //grid-column: span 2;
  //background-color: #81ffca;
}
.subHeading {
  font-size: 2.2vw;
  text-transform: uppercase;
  font-family: 'Oswald';
  color: #1B4332;
  text-align: left;
}
.text{
  font-family: 'Josefin Sans';
  font-size: 1.2vw;
  color: #ffffff;
  text-align: left;
  margin-top: -2vw;
  margin-left: 2vw;
}
.content {
  // margin-top: vw;
  margin-left: 7vw;
  margin-right: 5vw;
  // display:grid;
  // grid-template-columns: 1fr 1fr 1fr;
  //place-items: center;
}
li{
  color:white;
}
.toPage {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid #fff3;
}
.toPage:hover {
  border-bottom-color: #fff9;
}
// TEXT

// IMAGES
.pic {
  width:12vw;
  float: right;
  margin-right: 20vw;
  margin-top: -9vw;
}
.heart {
	animation: beat 1s infinite alternate;
	transform-origin: center;
}
@keyframes beat{
	to { transform: scale(1.2); }
}
// IMAGES

.name {
  position: fixed;
  font-family: 'Josefin Sans';
  color: #1B4332;
  font-size: 0.7vw;
  left: 0;
  bottom: 0;
  width: 99%;
  text-align: right;
}
