<html>
<head>
  <title>Acknowledgments</title>
</head>

<body>
  <div class="nav-container">
  <nav>
      <a (click)="gotoHome()">Translation Tool</a>
      <a (click)="gotoAbout()">About</a>
      <a (click)="gotoSD()">Sign Dictionary</a>
      <a>Acknowledgments</a>
      <div class="animation start-acknowledgments"></div>
    </nav>
  </div>

  <div class="heading-container">
    <h1><span>ACKNOWLEDGMENTS</span></h1>
  </div>

  <label class="subHeading">Some acknowledgments to people/sites that helped in this web-app's creation!</label>
  <br><br>

  <div class="textbox">
    <div class="text">
    Open source fonts used in this web app:
    <ul>
    <li>'Didact Gothic' by Google Fonts</li>
    <li>'Titan One' by Google Fonts</li>
    </ul><br>

    Open source code that inspired my graphics:
    <ul>
    <li>Nav bar: <a class="toPage" href="https://codepen.io/Patak/pen/QpLpOV/">'Lavalamp CSS Menu' by Patak</a></li>
    <li>Blob animation: <a class="toPage" href="https://codepen.io/uzcho_/pen/LaPqWJ">'Animated Blobs Text' by Amli</a></li>
    <li>Loading: <a class="toPage" href="https://christianlydemann.com/four-ways-to-create-loading-spinners-in-an-angular-app/">'Spinner' by Christian</a></li>
    </ul><br>

    People and organisations I would like to thank:
    <ul>
    <li>My project supervisor, Professor Riza Batista-Navarro</li>
    <li>My BSL teacher, Wayne McConnell</li>
    <li><a class="toPage" href="https://bda.org.uk/help-resources/">The British Deaf Association</a></li>
    </ul>
    </div>
  </div>

</body>
</html>

