<html>
<head>
  <title>Sign Dictionary</title>
</head>

<body>
  <div class="nav-container">
  <nav>
      <a (click)="gotoHome()">Translation Tool</a>
      <a (click)="gotoAbout()">About</a>
      <a>Sign Dictionary</a>
      <a (click)="gotoAcknowledgments()">Acknowledgments</a>
      <div class="animation start-signdictionary"></div>
    </nav>
  </div>

  <div class="heading-container">
    <h1><span>SIGN DICTIONARY</span></h1>
    <div class="blobs blobs_1"></div>
    <div class="blobs blobs_2"></div>
    <div class="blobs blobs_3"></div>
    <div class="blobs blobs_4"></div>
    <div class="blobs blobs_5"></div>
    <div class="blobs blobs_6"></div>
    <div class="blobs blobs_7"></div>
    <div class="blobs blobs_8"></div>
    <div class="blobs blobs_9"></div>
  </div>

  <label class="subHeading">Here are all 272 words in this web-app's database of signs!</label>
  <br><br><br>

  <div class="alphabetList" *ngFor="let letter of alphabet">
    <a href="/signdictionary#{{letter}}">{{letter}}</a>
    &nbsp;&nbsp;
  </div>

  <app-modal #modal></app-modal>

  <br><br>

  <div class="wordButtonzDiv" *ngFor="let l of letterGroups">
    <div id="{{l[0]}}"><br></div>
    <div  style="margin: 4vh; width: 100%; height: 1vh; border-bottom: 1vh solid rgb(209, 209, 209); text-align: center">
      <span class="letterHeading">
        {{l[0]}}
      </span>
    </div>
    <div class="letterGroup" *ngFor="let word of l">
      <div *ngIf="word.length<2">
        <button (click)="openModal(word)" class="word-button letter">{{word}}</button>
      </div>
      <div *ngIf="word.length>1">
        <button (click)="openModal(word)" class="word-button">{{word}}</button>
      </div>
    </div>
  </div>

</body>
</html>
