body {
  margin: -0.65%;
  height: 100vh;
  text-align: center;
    background: url(/assets/waves3.svg) no-repeat center fixed;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}

// NAV BAR
.nav-container{
  display: block;
  position: sticky;
  height: 5vh;
  width:100%;
}
nav {
	position: relative;
	background-color: #ffa0c3;
}
nav a {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 1000;
	line-height: 5vh;;
	font-size: 1.5vw;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #f0ebf4;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 25%;
}
a:nth-child(2) {
	width: 25%;
}
a:nth-child(3) {
	width: 25%;
}
a:nth-child(4) {
	width: 25%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 25%;
	left: 0;
	background-color: #a1c3d1;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 25%;
	left: 25%;
	background-color: #b39bc8;
}
nav .start-signdictionary, a:nth-child(3):hover~.animation {
	width: 25%;
	left: 50%;
	background-color: #f172a1;
}
nav .start-acknowledgments, a:nth-child(4):hover~.animation {
	width: 25%;
	left: 75%;
	background-color: #e64398;
}
// NAV BAR

@keyframes morph {
  0% {
			border-radius:  50% 40% 30% 60% / 50% 30% 60% 40%;
			background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	}
	50% {
			border-radius:  30% 50% 60% 40% / 40% 50% 30% 50%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
	100% {
		border-radius:  50% 40% 30% 60% / 50% 30% 60% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	}
}

// HEADING
@import url('https://fonts.googleapis.com/css?family=Didact Gothic');
@import url('https://fonts.googleapis.com/css?family=Oswald');
.heading-container{
  display: block;
  position: sticky;
	width:100%;
	height:15%;
}
h1 {
  color: #ffffff;
  font-family:'Oswald';
  width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
  font-size:5vw;
	font-weight:1000;
	flex-flow:row wrap;
	align-content:center;
	justify-content:center;
}
.subHeading{
  position:relative;
  font-family:'Didact Gothic', sans-serif;
	font-size:1.5vw;
  font-weight: 1000;
  letter-spacing: 0.2vw;
  top: -0.5vw;
  color: #f0ebf4;
}
// HEADING

// VIDEOS
video {
  width:30vw;
}
.videoDiv {
  display:grid;
}
// VIDEOS

// WORDS
.letterHeading {
  position: relative;
  background: #f0ebf4;
  padding: 0.3vw 1.8vw;
  border-radius: 50%;
  color: #e64398;
	width:100%;
	height:1vh;
  margin: 5vh;
	font-family:'Oswald';
	font-size:3vw;
	font-weight:1000;
  top: -4vh;
}
.wordButtonsDiv {
  position: relative;
  display: block;
  margin: 2vw 1vw;
}
.alphabetList{
  display: inline-block;
  font-family:'Nunito', sans-serif;
  font-size: 1.5vw;
  color: #565656;
  font-weight: 600;
  background-color: #b39bc8;
}
a:link {
  text-decoration: none;
  color: #f0ebf4;
}
a:visited {
  text-decoration: none;
  color: #f0ebf4;
}
a:hover {
  color: #91ff91;
  text-decoration: underline;
  font-weight: 900;
}
.letterGroup{
  display: inline-block;
  align-items: left;
  text-align: left;
}
// WORDS

// BUTTONS
.word-button {
  padding: 1vw 2vw;
  margin: 1vw 1vw;
  font-weight: 1000;
  animation:blobframe 15s ease-in-out infinite alternate;
  background: #ffa0c3;
  font-family: 'Didact Gothic';
  font-size: 1.2vw;
  letter-spacing: 0.2vw;
  color: #f0ebf4;
  cursor: pointer;
  position: relative;
  border: none;
  box-shadow: 0.5vw 0.5vw #696969ba;
}
.word-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 0.2vw;
  left: 0.2vw;
}
.word-button:hover {
  background: #ffa0c3;
}
.letter {
  background-color: #91ff91;
}
// BUTTONS
