<div class="header">
    <h1>English to BSL Translation Tool</h1>
  <nav>
    <a href="#">Translation Tool</a>
    <a href="#">About</a>
    <a href="#">Sign Dictionary</a>
    <a href="#">Acknowledgments</a>
    <div class="animation start-home"></div>
  </nav>
</div>


<body>
  <br><br>
  <div style="position:relative; text-align:center;">
    <label>Enter a sentence:</label>&nbsp;
    <input #box maxlength="35" size="40"(keyup)="updateChar()">&nbsp;<label style="color: grey">{{char}}/35</label>
    &nbsp;&nbsp;
    <button class="enter-button" (click)="onButton(box.value)">Enter</button>
    <br><br>
    <label>{{output}}</label>
    <label>{{message}}</label>
  </div>


  <div class="vidDiv" #vidDiv>
    <div class = "frame"></div>
    <video #videoPlayer2
      class="beNone"
      (ended)="endOfVid()"
      [muted]="'muted'"
      playsinline
      id="videoPlayer"
      width="500">
    </video>
    <video #videoPlayer
      class="beNone"
      (ended)="endOfVid()"
      [muted]="'muted'"
      playsinline
      id="videoPlayer"
      width="500">
    </video>
    <div class="replayDiv beNone" #replayDiv>
      <div class = "cloudy"><button class="replay-button" (click)="onButton(box.value)">REPLAY</button></div>
    </div>
    <label>{{currentSign}}</label>
  </div>
</body>





