body {
  margin: -0.65%;
  height: 100vh;
  text-align: center;
}

// NAV BAR
.nav-container{
  display: block;
  position: sticky;
  height: 5vh;
  width:100%;
}
nav {
	position: relative;
	background-color: #baced7;
}
nav a {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 1000;
	line-height: 5vh;;
	font-size: 1.5vw;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #f0ebf4;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 25%;
}
a:nth-child(2) {
	width: 25%;
}
a:nth-child(3) {
	width: 25%;
}
a:nth-child(4) {
	width: 25%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 25%;
	left: 0;
	background-color: #a1c3d1;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 25%;
	left: 25%;
	background-color: #b39bc8;
}
nav .start-signdictionary, a:nth-child(3):hover~.animation {
	width: 25%;
	left: 50%;
	background-color: #f172a1;
}
nav .start-acknowledgments, a:nth-child(4):hover~.animation {
	width: 25%;
	left: 75%;
	background-color: #e64398;
}
// NAV BAR

@keyframes morph {
  0% {
			border-radius:  50% 40% 30% 60% / 50% 30% 60% 40%;
			background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	}
	50% {
			border-radius:  30% 50% 60% 40% / 40% 50% 30% 50%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
	100% {
		border-radius:  50% 40% 30% 60% / 50% 30% 60% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	}
}

// HEADING
@import url('https://fonts.googleapis.com/css?family=Didact Gothic');
@import url('https://fonts.googleapis.com/css?family=Oswald');
.heading-container{
  display: block;
  position: sticky;
	width:100%;
	height:15%;
}
h1 {
  color: #f0ebf4;
  font-family:'Oswald';
  width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
  font-size:5vw;
	font-weight:1000;
	flex-flow:row wrap;
	align-content:center;
	justify-content:center;
}
.subHeading{
  position:relative;
  font-family:'Didact Gothic', sans-serif;
	font-size:1.5vw;
  font-weight: 1000;
  letter-spacing: 0.2vw;
  top: -0.5vw;
  color: #f0ebf4;
}
// HEADING

// INPUT
.inputSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sentenceInput{
  font-weight: 1000;
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.1vw;
  font-size:1.5vw;
  color: #b39bc8;
  border-radius: 10%;
  background-color: #f0ebf4;
}
.inputLabel{
  font-weight: 1000;
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.1vw;
  font-size:1.5vw;
  color: #f0ebf4;
  border: 1px solid #ffffff00;
}
.chars, .errMsg {
  font-weight: 1000;
  color: #f0ebf4;
  font-size: 1.2vw;
}
input:focus{
  outline: none;
  border-color: #b39bc8;
  box-shadow: 0 0 10px #b39bc8;
}
// INPUT

// BUTTONS
.enter-button {
  font-weight: 1000;
  background: #b39bc8;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  color: #f0ebf4;
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 15%;
  box-shadow: 0.5vw 0.5vw #e64398;
  padding: 1vw 2vw;
}
.replay-button {
  font-weight: 700;
  background: #b39bc8;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  color: #f0ebf4;
  cursor: pointer;
  border: 0.5vw solid #e64398;
  border-radius: 15%;
  padding: 1vw 2vw;
}
.enter-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 0.2vw;
  left: 0.2vw;
}
.enter-button:hover {
  background: #957ea9;
}
.replay-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 0.2vw;
  left: 0.2vw;
}
.replay-button:hover {
  background: #957ea9
}
// BUTTONS

// VIDEOS
.videoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2.5vw;
  padding-inline: 1rem;
}
.vidDiv {
  width: 45vw;
  display: grid;
  grid-row: 1 / -1;
  overflow:hidden;
  animation: morph 8s ease-in-out infinite;
  border:0.5vw solid #b39bc8;
  transform: translate(10%);
  transition: transform 500ms ease-in-out;
}
.vidDiv video {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
}
.frame {
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.1vw;
  font-size:1.5vw;
  color: #f0ebf4;
  font-weight: 1000;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width:100%;
  margin: auto;
  height: 100%;
  text-align: center;
  line-height: 22.5vw;
  background: radial-gradient(#cfc4bd, #7a6f6b);
}
.replayDiv {
  background: #f0ebf458;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}
.beNone {
  display: none;
}
.moveToMiddle {
  transform: translateX(55%) translateY(2%);
}
// VIDEOS

// TEXT OUTPUT
.outputTextDiv {
  align-self: end;
}
.currentSignLabel{
  color: #f0ebf4;
	font-family:'Didact Gothic';
	font-size:6vw;
	font-weight:1000;
}
.allSigns{
  font-family: 'Didact Gothic';
  font-weight: 1000;
  font-size:2vw;
  color: #d4d4d4;
  margin-bottom: 0;
}
.fade {
  color: #5b5b5b;
}
// TEXT OUTPUT

// TOOLTIP
.tooltip {
  position: absolute;
  right: 10vw;
  font-size: 2.5vw;
  font-family: 'Didact Gothic', sans-serif;
  color: #f172a1;
}
.tooltip .tooltiptext {
  font-size: 1.5vw;
  visibility: hidden;
  width: 20vw;
  background-color: #f172a1;
  color: #f0ebf4;
  text-align: center;
  border-radius: 1vw;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -10vw;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #e64398 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
// TOOLTIP
