// FONTS
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
// FONTS

body {
  padding-bottom: 5vw;
  min-height: 100vh;
  text-align: center;
}
// LOGO

// NAV BAR
a {
	outline: none;
}
.navbar-container {
  // position: fixed;
  width: 101vw;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 0px -5vw 1vw 5vw #366666aa;
	padding: 1vw;
	font-size: 0;
  font-family: 'Oswald';
  z-index: 100000;
  margin-left:-1.3vw;
  margin-top:-0.8%;
}
.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}
.navbar-container ul li {
	display: inline-block;
	font-size: 1.2vw;
  cursor: pointer;
}
.navbar-container ul li a {
	color: #1B4332;
	text-decoration: none;
	display: inline-block;
	padding: 0vw 3vw;
	transition: color 0.2s;
}
.navbar-container ul li .underline {
  height: 0.001vw;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}
.navbar-container ul li.active-link .underline {
	width: 60%;
	background-color: #ffffff;
  border-bottom: dotted #1B4332 0.3vw;
}
.navbar-container ul li.non .underline {
	width: 60%;
	background-color: #ffffff;
  border-bottom: dotted #ffffff00 0.3vw;
}
.navbar-container ul li.active-link:hover .underline {
	width: 60%;
	background-color: #ffffff00;
}
.navbar-container ul li:hover .underline {
	background-color: #1B4332;
	width: 60%;
}
.navbar-container ul li:active a {
	transition: none;
	color: #1B43326b;
}
.navbar-container ul li:active .underline {
	transition: none;
	background-color: #1B43326b;
}
// NAV BAR

// HAND
.hand-svg {
  width: 4.5vw;
  margin-bottom: -1.7vw;
}
.hand-svg:hover .hand-path {
  animation: 0.3s 0.1s normal 3 wave;
  transform-origin: bottom;
}
@keyframes wave {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 5deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    rotate: 0;
  }
}
// HAND

// TEXT
.textContainer {
  display: grid;
  text-align: left;
}
.bigText {
  color: #ffffff;
  font-family: 'Oswald';
  font-size: 5vw;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  margin-left: 1vw;
}
.smallText {
  color: #1B4332;
  font-family: 'Josefin Sans';
  font-size: 1.8vw;
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: center;
  margin-left:6.8vw;
  margin-right:18vw;
  margin-top:-4vw;
}
// TEXT

// INPUT
.inputSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sentenceInput{
  font-weight: 1000;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1vw;
  font-size:1.5vw;
  color: #1B4332;
  border-radius: 10%;
  background-color: #ffffff;
}
.inputLabel{
  font-weight: 1000;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1vw;
  font-size: 1.5vw;
  color: #1B4332;
}
// INPUT

// BUTTONS
.speed-button {
  font-weight: 1000;
  background: #40916C;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vw;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 1vw;
  display: inline-block;
  width: 7vw;
  height: 4vw;
}
.replay-button {
  font-weight: 700;
  background: #52B788;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  color: white;
  cursor: pointer;
  border: 0.5vw solid #1B4332;
  border-radius: 5vw;
  padding: 1vw 2vw;
}
.replay-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 0.2vw;
  left: 0.2vw;
}
.replay-button:hover {
  background: #529378;
}
.buttonFrame{
  grid-row: 5;
  grid-column: 2;
  background-color: #40916C;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5vw;
  width: 15vw;
  position: relative;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  border-radius: 0.5vw;
  transform: translate(-50%);
  box-shadow: 0 0.2vw 0.2vw rgba(black, 0.3);
}
.btn{
  height: 3vw;
  width: 3vw;
  border-radius: 0.2vw;
  background: #e0e5ec;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow:  4px 4px 6px 0 rgba(0, 0, 0, 0.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
            inset -4px -4px 6px 0 rgba(0, 0, 0, 0.5),
            inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 1vw;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover{
  // background: radial-gradient(circle,  rgb(83, 255, 135) 0%, #e0e5ec 60%);
  color: rgba(102,102,102,.5);
}
.btn:active{
  box-shadow:  4px 4px 6px 0 rgba(0, 0, 0, 0.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(0, 0, 0, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
.selectedSpeed {
  background: #52B788;
 box-shadow:
  -7px -7px 20px 0px rgba(0, 0, 0, 0.6),
  -4px -4px 5px 0px rgba(0, 0, 0, 0.6),
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}
.moveOver {
  transform: translate(-190%);
  transition: transform 800ms ease-in-out;
}
.speedIcon {
  width: 2vw;
}
// BUTTONS

// VIDEOS
.videoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(auto, 50vh) auto;
  padding-inline: 1rem;
  margin-top: 5vw;
}
.vidDiv {
  z-index: 100;
  width: 45vw;
  display: grid;
  grid-row: 1 / -1;
  overflow: hidden;
  border-radius: 5vw;
  border:1vw solid #1B4332;
  transform: translate(10%);
  transition: transform 800ms ease-in-out;
  aspect-ratio: 16/9;
  box-shadow: 0 0.2vw 0.2vw rgba(black, 0.3);
}
.vidDiv video {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  // filter: grayscale(100%);
}
.frame {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1vw;
  font-size:1.5vw;
  color: white;
  font-weight: 1000;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width:100%;
  text-align: center;
  line-height: 22.5vw;
  background-image:  url(/assets/handLOGO.png), radial-gradient(#7ddeb6, #1B4332);
  background-position: center;
}
.replayDiv {
  background: #8eada093;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}
.beNone {
  display: none;
}
.moveToMiddle {
  transform: translateX(50%);
  background-image: none;
  background: radial-gradient(#cfc4bd, #7a6f6b);
}
// VIDEOS

// TEXT OUTPUT
.outputTextDiv {
  align-self: end;
  margin-left: 4vw;
  align-items: center;
}
.currentSignLabel{
  color: white;
	font-family:'Josefin Sans';
	font-size:6vw;
	font-weight:1000;
  text-align: center;
  margin-left: 2vw;
  margin-top: -15vw;
}
.allSigns{
  font-family: 'Josefin Sans';
  font-weight: 1000;
  font-size:2vw;
  color: #1B4332;
  margin-bottom: 0;
  padding-left: 2vw;
  text-align: center;
}
.fade {
  color: #2c363290;
}
.chars {
  font-weight: 1000;
  color: #529378;
  font-size: 1vw;
  position: relative;
  left: -3vw;
  bottom: -1.8vw;
}
.errMsg {
  font-weight: 1000;
  color: #1B4332;
  font-size: 1.2vw;
  position: relative;
  margin-top: 7vw;
  margin-left: 5vw;
}
// TEXT OUTPUT

// TOOLTIP
.tooltip {
  visibility: hidden;
  position: absolute;
  margin-right: -43vw;
  margin-top: 0.7vw;
  font-size: 2.5vw;
  font-family: 'Josefin Sans', sans-serif;
  color: #1B4332;
  z-index: 10000;
}
.tooltip .tooltiptext {
  font-size: 1.2vw;
  visibility: hidden;
  width: 20vw;
  background-color: #529378;
  color: white;
  text-align: center;
  border-radius: 1vw;
  position: absolute;
  z-index: 10000;
  bottom: 125%;
  left: 50%;
  margin-left: -10vw;
  opacity: 0;
  transition: opacity 0.3s;
  align-self: center;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1B4332 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
// TOOLTIP

// TRANSLATE BUTTON
.c-checkbox {
  display: none;
  &:checked + .c-formContainer {
      .c-form {
          width: 40vw;
      }
      .c-form__toggle {
          visibility: hidden;
          opacity: 0;
          transform: scale(0.7);
      }
      .c-form__input,
      .c-form__buttonLabel {
          transition: 0.2s 0.1s;
          visibility: visible;
          opacity: 1;
          transform: scale(1);
      }
  }
}
.c-formContainer,
.c-form,
.c-form__toggle {
  width: 15vw;
  height: 6vw;
  margin-left: 2vw;
}
.c-formContainer {
  font-weight: 700;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans';
  margin-left: 15vw;
  transform: translate(-19vw) translateY(-1vw);
}
.moveDown {
  transform: translate(-42vw) translateY(10vw);
  transition: transform 800ms ease-in-out;
}
.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 5vw;
  background-color: #D8F3DC;
  transition: 0.2s;
}
.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5vw;
  box-sizing: border-box;
  box-shadow: 0 0.2vw 0.2vw rgba(black, 0.3);
  display: flex;
  justify-content: center;
}
.c-form__toggle {
  color: #1B4332;
  top: 0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1vw;
  &::before {
      font-size: 1.5vw;
      content: attr(data-title);
  }
}
.c-form__toggle:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 0.4vw;
  text-decoration-style: dotted;
  text-decoration-color: #40916C;
}
.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5vw;
  box-sizing: border-box;
}
.c-form__input,
.c-form__buttonLabel {
  font-size: 1.5vw;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}
.c-form__input {
  color: grey;
  height: 100%;
  width: 100%;
  padding: 0 3.5vw;
  font-size: 1.5vw;
  &::placeholder {
      color: currentColor;
  }
  &:required:valid {
      color: #1B4332;
      + .c-form__buttonLabel {
          color: white;
          &::before {
              pointer-events: initial;
          }
      }
  }
}
.c-form__buttonLabel {
  color: white;
  height: 100%;
  width: auto;
  &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
      cursor: pointer;
  }
}
.c-form__button {
  color: inherit;
  height: 80%;
  width: 8vw;
  background-color: #52B788;
  cursor: pointer;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 0.2vw;
  box-shadow: 0.5vw 0.5vw #1B4332;
  position: relative;
  top:-1.5vw;
}
.c-form__button:hover {
  background-color: #40916C;
}
.c-form__button:active {
  box-shadow: 0px 0px 0px 0px;
  top: -1vw;
}
// TRANSLATE BUTTON

.content {
  padding-bottom: 5vw;
}

.name {
  position: fixed;
  font-family: 'Josefin Sans';
  color: #1B4332;
  font-size: 0.7vw;
  left: 0;
  bottom: 0;
  width: 99%;
  text-align: right;
}

