<head>
  <title>About</title>
</head>

<body>
  <div class="nav-container">
  <nav>
      <a (click)="gotoHome()">Translation Tool</a>
      <a>About</a>
      <a (click)="gotoSD()">Sign Dictionary</a>
      <a (click)="gotoAcknowledgments()">Acknowledgments</a>
      <div class="animation start-about"></div>
    </nav>
  </div>

  <div class="heading-container">
    <h1><span>ABOUT</span></h1>
  </div>

  <label class="subHeading">Information about BSL and why this web-app was made!</label>
  <br><br>

  <div class="textbox">
    <div class="text">
    This web app was made to be an educational tool for<br>
    translating into British Sign Language<br>
    and learning along the way.<br>
    DEAF AWARENESS<br>
    Notes on the web app:<br>
    </div>
  </div>

</body>

