<head>
  <title>About</title>
</head>

<body>
  <div class="nav-container">
  <nav>
      <a (click)="gotoHome()">Translation Tool</a>
      <a>About</a>
      <a (click)="gotoSD()">Sign Dictionary</a>
      <a (click)="gotoAcknowledgments()">Acknowledgments</a>
      <div class="animation start-about"></div>
    </nav>
  </div>

  <div class="heading-container">
    <h1><span>About</span></h1>
    <div class="blobs blobs_1"></div>
    <div class="blobs blobs_2"></div>
    <div class="blobs blobs_3"></div>
    <div class="blobs blobs_4"></div>
    <div class="blobs blobs_5"></div>
    <div class="blobs blobs_6"></div>
    <div class="blobs blobs_7"></div>
    <div class="blobs blobs_8"></div>
    <div class="blobs blobs_9"></div>
  </div>

  <label class="subHeading">Information about BSL and why this web-app was made!</label>
  <br><br>

</body>

